div{
	border:0;
  	padding:0;
  	display:block;
	top: 0; 
	bottom: 0;
	left: 0; 
	right: 0;
	margin: auto;
}
body {
    padding:0;
    margin:0;
}
#faixa{
  	position:relative;
  	background-color:#4d7c5d;
  	width:100%;
  	height:70px;
}
#guia{
	width:100px;
  	height:40px;
	position:relative;
	font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	font-weight: bold;
	font-size: 60px;
	color:#ffffff;
	left: 350px;
}
#conteudo{
	position:relative;
	width:100%;
	height:290px;
	margin:auto;
}
#titulo{
  	width:850px;
  	height:40px;
  	position:relative;
	top:20px;
	left:0px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px; 
	font-family:Arial;
	font-weight: bold;
	font-size: 40px;
	color:#171717;
}

#texto{
  	width:850px;
  	height:200px;
  	position:relative;
  	left:0px;
	top:50px;
	font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;	
	font-size: 16px;
	color:#171717;
}

#img{
  	width:850px;
  	height:155px;
  	position:relative;
	left:0px;
	top:415px;
	background-image:url('/midia/cat.jpg');
	background-size: 300px;
	position:absolute;
}
#cadastro {
	top:180px;
	position:relative;
  	background-color:#2b8464;
  	width:100%;
  	height:200px;
}
#formulario input{
	position:relative;
	left:500px;
}
