div{
	border:0;
  	margin:0;
  	padding:0;
  	display:block;
  	left:0px;
}

#fundo1{
  	position:relative;
  	background-color:#4d7c5d;
  	width:100%;
  	height:278px;
}

#bloco1{
  	position:relative;
  	background-color:#4d7c5d;
  	width:900px;
  	height:278px;
  	margin:auto;
}

#subBloco1,
#subBloco2,
#subBloco3{
  	width:300px;
  	height:278px;
  	position:absolute;
  	margin: 0 auto;
  	display: flex;
}

#subBloco1{
  	left:0;
}

#subBloco2{
  	left:300px;
}

#subBloco3{
  	left:600px;
}
#fundo2{
	position: absolute;
	top:650px;
	left:0px;
	width:100%;
	background-color:#fff;
	height:822px;
		
}
.blocoVideo1 {
	position: relative;
	top:0px;
	left:0;
	width:900px;
	margin:auto;

}
.blocoVideo1 iframe{
	position: relative;
	top:20px;
	width: 900px;
	height: 600px;
}
#blocoTexto1{
	position: relative;
	top:-15px;
	height: 120px;
	width:900px;
	margin:auto;
	background-color:#fff;
}

#fundo3{
	position: absolute;
	top:1472px;
	left:0px;
	width:100%;
	height:298px;
	background-image:url('/midia/pattern.png');
	background-repeat: repeat-x;
	background-size: 300px 298px; 
}

#bloco2{
  	position:relative;
	background-color: rgba(0, 0, 0, 0.2);
	width:900px;
  	height:233px;
  	top:32px;
  	margin:auto;
}
#subBloco4{
  	width:400px;
  	height:233px;
  	position:absolute;	
  	/*background-color:green;*/
  	left:0;
}
#subBloco5{
  	width:380px;
  	height:233px;
  	position:absolute;
  	left:400px;
  	/*background-color:red;*/
}
.img1,
.img2,
.img3 {
	width: 183px;  /* Or whatever */
	height: 183px; /* Or whatever */
	margin: auto;
}
.img1:hover{
  	background-image:url('/midia/blog02.png');

}
.img2:hover{
  	background-image:url('/midia/cotas02.png');
}
.img3:hover{
  	background-image:url('/midia/guia02.png');
}

#aprenda{
	margin-top:65px;
}
.exp,
.arial{
	font-family:Arial;
	font-weight: bold;
	font-size: 40px;
	color:#171717;
}
.exp{
	margin-top:25px;
	font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;	
	font-size: 16px;
	color:#171717;
	
}
#comoapr{
	text-align:center;
	margin-top:65px;
}
#oguia{
	margin-top:-20px;
	font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;	
	font-size: 16px;
	color:#171717;
}
