#FundoSlideShow
{
	position:relative:
	width:100%;
	height:372px;
	/*background-color: yellow;*/
}

#slideShow
{
	width:900px;
	height:100%;
	margin: 0 auto;
	/*background:red;*/
}

#prev
{
	position:absolute;
	width:50px;
	height:50px;
	top:161px;
}

#next
{
	position:absolute;
	width:50px;
	height:50px;
	top:161px;
	margin-left: 850px;
}

/* Next & previous buttons */
.anterior, .proximo 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.proximo {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* On hover, add a black background color with a little bit see-through */
.anterior:hover, .proximo:hover 
{
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

