<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% load staticfiles %}
	<link href="{% static 'css/guia.css' %}" rel="stylesheet" />
</head>

<body>
	<div id="bloco">
		<div id = "faixa">
			<div id = "guia">Guia</div>
		</div>
		
	
		<div id = "conteudo">
			<div id= "titulo"><b>Guia do Cidadão Brasileiro</b></div>
			<div id= "texto">O <b>Guia do Cidadão Brasileiro</b> é um material que reúne as principais dúvidas da população sobre o sistema político do País. Nele você encontra respostas objetivas e de fácil compreensão.<p> O guia foi criado por um grupo de estudantes do <b>Núcleo de Cidadania Digital</b> (NCD), um programa de extensão da Universidade Federal do Espírito Santo, com o propósito de trazer <b>informações básicas</b> sobre o sistema político do nosso país e conscientizar o cidadão brasileiro de sua importância dentro desse sistema</p><p>Lembre-se, sua opinião é muito importante para nós!</p></div>
			<div id="img" class="centro"></div>
		</div>
		
		<div id= "cadastro">
			<form id="formulario" action="action_page.php">
				Seu nome:<br>
    				<input type="text" name="nome"><br>
    				Seu e-mail:<br>
    				<input type="text" name="email"><br><br>
    				<input type="submit" value="Cadastrar">
  			</form> 
			<div id = "tcadastro"></div>
		</div>
	</div>	 	
	</body>
</html>

