<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Cabeçalho -->
    <meta http-equiv="content-type"	content="text/html;charset=utf-8" />
    <meta name="Autor/Revisor" content="gustavodag@ncd.ufes.br" />
    <title>Tela Cidadã</title>

    {% load staticfiles %}

    <!-- Importa o plugin JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    
    <!-- Importa o css responsavel pelo corpo do da pagina -->
    <link href="{% static 'css/corpo.css' %}" rel="stylesheet" />

    <!-- Importa arquivos estaticos para o slideshow -->
    <link href="{% static 'css/slideShow.css' %}" rel="stylesheet" />
    <script  type="text/javascript" src="{% static 'js/slideShow.js' %}"></script>

</head>
	<body>
		<div id = "pagina">
			<div id = "menu">
				{% include 'xhtml/menu.xhtml' %}
			</div>
			<div id = "conteudo">
				<div id = "FundoSlideShow">
					<div id = "slideShow">
						<div id = "prev">
							<a class="anterior" onclick="plusSlides(-1)">&#10094;</a>
						</div>
					
						<div id = "next" >
	 						<a class="proximo" onclick="plusSlides(1)">&#10095;</a>
						</div>
					</div>		
				</div>
			</div>
			<div id="video">
				{% include 'xhtml/p1.xhtml' %}
			</div>
			<div id = "rodape">
				
			</div>
		</div>
		
	</body>
</html>
