<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Cabeçalho -->
    <meta http-equiv="content-type"	content="text/html;charset=utf-8" />
    <meta name="Autor/Revisor" content="gustavodag@ncd.ufes.br" />

    {% load staticfiles %}

    <!-- Importa arquivos estaticos do menu -->
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" />
    <script  type="text/javascript" src="{% static 'js/menu.js' %}"></script>

</head>
	<body id = "body">
		<div id = "FundoMenu">
			<div id = "menu">
				<ul>
					<li><a href = "#">Início</a></li>
					<li><a href = "#">Sobre</a></li>
					<li><a href = "#"><span id = "LAI">LAI</span></a></li>
					<li><a href = "#">Seções</a></li>
					<li><a href = "#">Blog</a></li>
					<li><a href = "#">Contato</a></li>
				</ul>
				<div id = "FundoRedeSociais">			
					<div id = "RedeSociais">
						<a href = "#"><img id = "facebook"/></a>
						<a href = "#"><img id = "instagram"/></a>
						<a href = "#"><img id = "youtube"/></a>
					</div>
				</div>			
				<div id = "telaCidada">
					<img id = "logoTelaCidada"/>
				</div>
			</div>
		</div>
	</body>
</html>
