<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- Cabeçalho -->
	<meta http-equiv="content-type"	content="text/html;charset=utf-8" />
	<meta name="Autor/Revisor" content="gustavodag@ncd.ufes.br" />
	<title>Tela Cidadã</title>

	{% load staticfiles %}

	<!-- Importa o plugin JQuery -->
	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    
	<!-- Importa o plugin CKeditor -->
	<script type="text/javascript" src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>

    <!-- Importa o plugin MultSelect -->
	<link href="{% static 'js/multSelect/css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">
	<script src="{% static 'js/multSelect/js/jquery.multi-select.js' %}" type="text/javascript"></script>
	
	<script type="text/javascript" src="{% static 'js/criarPost.js' %}"></script>
	<link href="{% static 'css/criarPost.css' %}" rel="stylesheet" />
	
	
    
</head>
	<body>
		<form method="POST" action=#>
		<div id = "titulo">
			<table align='center' >
				<tr>
					<td colspan = "2" style="text-align: right;"><label>Titulo:</label></td>
					<td colspan = "2" style="text-align: left;"><input id = "tituloPublicacao" name = 'titulo' type="text" placeholder="titulo"></td>
				</tr>
				<tr>
					<td colspan = "2" style="text-align: right;"><label>Dia de Postagem:</label></td>
					<td colspan = "2" style="text-align: left;"><input type="text" id="dia" name="dia" size="10" placeholder="dd/mm/aaaa"/></td>
				</tr>
			</table>
		</div>

		<div id = "editorTexto">
			<textarea id = "CKeditor">
			
			</textarea>
		</div>	
	
		{% csrf_token %} 
		<br><br><br>
			<select multiple="multiple" id="tags" name="tags">
				<option value='elem_1'>elem 1</option>
				<option value='elem_2'>elem 2</option>
				<option value='elem_3'>elem 3</option>
				<option value='elem_4'>elem 4</option>
				<option value='elem_100'>elem 100</option>
			</select>

			<input type="button" id="criarPost" value="Criar post">

		</form>

	</body>
</html>
