<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- Cabeçalho -->
	<meta http-equiv="content-type"	content="text/html;charset=utf-8" />
	<meta name="Autor/Revisor" content="gustavodag@ncd.ufes.br" />
	<title>Tela Cidadã</title>

	{% load staticfiles %}

	<!-- Importa o plugin JQuery -->
	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    
	<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
    
    <!-- Importa o css responsavel pelo corpo do da pagina -->
	<link href="{% static 'css/pagina.css' %}" rel="stylesheet" />


</head>
	<body>
		<div id = "CKeditor">
			
		</div>
	</body>
</html>
