<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- Cabeçalho -->
	<meta http-equiv="content-type"	content="text/html;charset=utf-8" />
	<meta name="Autor/Revisor" content="gustavodag@ncd.ufes.br" />
	<title>Tela Cidadã</title>
	
	{% load staticfiles %}

    <!-- Importa o plugin JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>


    
</head>
	<body>
		{% csrf_token %} 
		<div id = "tabela_login" style="position:fixed;z-index:6">
			<table style="width:60%">
				<tr>
					<td colspan = "2" style="text-align: right;"><label>Login:</label></td>
					<td colspan = "2" style="text-align: left;"><input id = "login" name = 'login' type="text" placeholder="login"></td>
				</tr>
				
				<tr>
					<td colspan = "2" style="text-align: right;"><label>Senha:</label></td>
					<td colspan = "2" style="text-align: left;"><input id = "senha" name = 'senha' type="password" placeholder="senha"></td>
				</tr>
				<tr>
					<td colspan = "4" style="text-align: center;"><button id = "logar" >Logar</button></td>
				</tr>
			</table>
		</div>
	</body>
</html>
