#tabela_titulo
{
	position:relative;
	height:50px;
	width: 600px;
	background:blue;
}

#editorTexto
{
	top:50px;
	position:relative;
	background:red;
}

#botao
{
	position:relative;
	top:26px;
}

#SelecionaTags
{
	position:relative;
	height:200px;
	width: 600px;
	background:blue;
}
