<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>jQuery 
		Pagination - jPaginate</title>
		{% load staticfiles %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="description" content="jPaginate - jQuery Pagination Plugin" />
		<meta name="keywords" content="jquery, plugin, pagination, fancy" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		<script src="{% static 'js/jquery.paginate.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/pagination.js' %}" type="text/javascript"></script>
	<! Botao like do facebook -->
	   <script>(function(d, s, id) {
	   	var js, fjs = d.getElementsByTagName(s)[0];
	   	if (d.getElementById(id)) return;
	   	js = d.createElement(s); js.id = id;
	   	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	   	fjs.parentNode.insertBefore(js, fjs);
	   	}(document, 'script', 'facebook-jssdk'));
	   </script>

		<style>
		</style>
	</head>
	<body>
		{% csrf_token %}
		<INPUT id="quantidade" TYPE="hidden" VALUE="{{quantidade}}">
		<!--<INPUT id="pagina" TYPE="hidden" VALUE="{{pagina}}">
		<! Paginacao -->
		<div id="demo1"></div>
		
		<! Botao like do facebook -->
		<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="200" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		
	</body>
</html>

